.card {
  background-color: var(--mantine-color-body);
}

.body {
  white-space: pre-wrap;
  line-height: 1.5;
  margin-top: var(--mantine-spacing-xs);
  color: var(--mantine-color-bright);
}

.footer {
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-lg);
  margin-top: var(--mantine-spacing-md);
  border-top: 1px solid var(--mantine-color-sand-2);
}
